* {
    margin: auto;
}

/* ---------------header style start------------ */
header {
    background-color: antiquewhite;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

.nav-title {
    font-weight: bold;
    font size: 24px;
}

ul {
    display: flex;
}

ul>li {
    list-style: none;
    margin-left: 20px;
}

.banner-info {
    width: 100%;
    text-align: center;
    padding: 25px 25px;
}

.banner-title {
    margin-top: 15px;
    margin-bottom: 15px;
}

.banner-des {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn {
    background-color: orange;
    color: antiquewhite;
    border-radius: 10px;
    border: none;
    padding: 15px;
}

.banner-img {
    width: 50%;
    padding: 20px 10px;
    margin-left: 500px;
}

/* ---------------header style close--------------- */

/* --------- responsive for mobile device---------------- */

@media only screen and (max-width:688px) {

    header {
        width: 100%;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
    }
}

/* -------------------responsive part 1 close------------- */

/* --------------feature section styles start------------ */

.feature-section {
    margin-top: 200px;
    margin-bottom: 200px;
    margin-bottom: 100px;
    display: flex;

}

.feature-title {
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.feature-des {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sp-1 {
    color: dimgray;

}

.sp-2 {
    font-weight: bolder;
}

.sp-3 {
    color: orange;

}


.feature-imgs {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    grid-gap: 10px;
}

/* --------------feature section styles close------------ */

/* -------------feature details style start---------- */


.feature-details {
    display: flex;
    margin-left: 150px;
    margin-right: 150px;

}

.feature-title-2 {
    font-size: 30px;
    border-left: 2px solid orange;
    padding: 10px;

}

.boxes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 10px;
    width: 100%;



}

.box {
    width: 500px;
    height: 80px;
    border: grey;
    background-color: #ffffff;
    padding: 30px;
    gap: 10px;
    box-shadow: 2px 1px 5px lightslategrey;

}

.box-title {
    margin-top: 5px;
}

.box-details {
    margin-top: 5px;
}

.architect-img {
    width: 35%;
    height: 700px;
}

.feature-btn {
    height: 120px;
    font-size: 20px;
    font-weight: bolder;
    background-color: orange;
    color: antiquewhite;
    border-radius: 5px;
    border: none;
    padding: 20px;
    margin-left: -700px;
    margin-top: 700px;

}

/* -----------feature detailss styles close--------- */


/* ---facts part style start------ */

.fact-info {
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

.fact-title {
    font-size: 30px;
    font-weight: bolder;
}

.fact-details {
    font-size: 20px;
    margin-top: 20px;
}

.fact-boxes {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.fact-box {
    border: 2px solid orange;
    padding: 20px;
}

.fact-box:hover {
    transform: rotate(30deg);
}

/* ---facts part style close------ */