* {
    margin: auto;
}

/* ---------------header style start------------ */
header {
    background-color: antiquewhite;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

.nav-title {
    font-weight: bold;
    font size: 24px;
}

ul {
    display: flex;
}

ul>li {
    list-style: none;
    margin-left: 20px;
}

.banner-info {
    width: 100%;
    text-align: center;
    padding: 25px 25px;
}

.banner-title {
    margin-top: 15px;
    margin-bottom: 15px;
}

.banner-des {
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn {
    background-color: orange;
    color: antiquewhite;
    border-radius: 10px;
    border: none;
    padding: 15px;
}

.banner-img {
    width: 50%;
    padding: 20px 10px;
    margin-left: 500px;
}

/* ---------------header style close--------------- */

/* --------- responsive for mobile device---------------- */

@media only screen and (max-width:688px) {

    header {
        width: 100%;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
    }
}

/* -------------------responsive part 1 close------------- */

/* --------------feature section styles start------------ */

.feature-section {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;

}

.sp-1 {
    color: dimgray;

}

.sp-2 {
    color: orange;

}


.feature-imgs {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    grid-gap: 10px;
}